* {
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: white;
}
.demo {
  width: 692px;
  height: 60px;
  background-color: #333;
  padding: 8px;
}
#logo {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/logo_black_1.jpg)no-repeat;
}
#logo2 {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/logo_black_1.jpg)no-repeat;
}
#logo3 {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/logo_black_1.jpg)no-repeat;
}
#demo3 {
  height: 120px;
  width: 600px;
  background-color: white;
}
#red {
  width: 25%;
  float: left;
  height: 120px;
  background-color: red;
  border: 2px solid black;
}
#yellow {
  width: 25%;
  float: left;
  height: 120px;
  background-color: yellow;
  border: 2px solid black;
}
#blue {
  width: 25%;
  float: left;
  height: 120px;
  background-color: blue;
  border: 2px solid black;
}
.full {
  width: 100%;
  height: 140px;
  background-color: white;
  border: 2px solid red;
}
#red2 {
  width: 25%;
  float: left;
  height: 120px;
  background-color: red;
  border: 2px solid black;
}
#yellow2 {
  width: 25%;
  float: left;
  height: 120px;
  background-color: yellow;
  border: 2px solid black;
}
#blue2 {
  width: 25%;
  float: left;
  height: 120px;
  background-color: blue;
  border: 2px solid black;
}
#red3 {
  width: 80px;
  float: left;
  height: 120px;
  background-color: red;
  border: 2px solid black;
}
