svg {
  border: 2px solid red;
}
#sp1,
#sp2,
#sp3,
#spoutTop {
  opacity: 0;
}
line {
  opacity: 0;
  stroke-dasharray: 25;
  stroke-dashoffset: 0;
}

body {
  background: linear-gradient(#b3d9ff 0%, #3399ff 45%, #000099 50%);
}
